.newsletter-signup {
    margin: -42px 0 0 0;
    width: 100%;
    padding: 20px 0;
    background-color: #171819;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.newsletter-signup__title {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .newsletter-signup {
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }
}

@media (max-width: 576px) {
    .input-group input {
        width: 170px;
    }

    .input-group__button  {
        width: 100px;
    }
}